@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --min-color: #fff;
    --sc-color: #3ec1d5;
    --th-color: #333;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}

.btn {
    display: inline;
    padding: 0.8rem 3.8rem;
    font-size: 1.8rem;
    border: 0.1rem solid var(--sc-color);
    outline: 0;
    background-color: var(--sc-color);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--min-color);
}

.btn:hover {
    background: none;
    color: var(--sc-color);
}

.heading {
    margin: 5rem auto;
    font-size: 3.5rem;
    text-align: center;
    color: var(--th-color);
}

.heading div {
    display: inline-block;
    border-bottom: 0.2rem solid var(--th-color);
    width: 15rem;
}

.heading div:hover {
    width: 25rem;
}

header {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: rgba(10, 10, 9, 0.6);
    z-index: 1001;

}

header .logo {
    font-size: 3.2rem;
    color: var(--min-color);
    padding: 0.4rem;
}

header .navbar a {
    margin: 0 0.8rem;
    font-size: 1.9rem;
    color: var(--min-color);
    padding: 0.4rem;
}

header .navbar a:hover,
header .fa-bars:hover {
    color: var(--sc-color);
}

header .fa-bars {
    font-size: 2.8rem;
    color: var(--min-color);
    cursor: pointer;
    display: none;
}

.home .home-slider .box {
    position: relative;
}

.home .home-slider .box::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.home .home-slider .box .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--min-color);
}

.home .home-slider .box .content h3 {
    font-size: 4rem;
}

.home .home-slider .box .content p {
    font-size: 2.5rem;
    margin: 1rem 0;
}


section.about {
    padding: 3rem 9%;
}

.about {
    background-color: #eee;
}

.about .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 7rem;
}

.about .box .image img {
    width: 60rem;
    height: 100%;
    object-fit: cover;
}

.about .box .content h3 {
    color: var(--th-color);
    font-size: 3.5rem;
}

.about .box .content p {
    color: var(--th-color);
    font-size: 2rem;
    margin: 2rem 0;
}

.about .box .content div {
    color: var(--th-color);
    font-size: 2.2rem;
}

.service .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 0.8rem;
    margin-top: 5rem;
}

.service .row .box {
    text-align: center;
    color: var(--th-color);
    padding: 4rem;
    border-radius: 0.8rem;
}

.service .row .box:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: #eee;
}

.service .row .box i {
    font-size: 2.5rem;
}

.service .row .box h3 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.service .row .box p {
    font-size: 2rem;
}

.team {
    width: 100%;
}

.team .row {
    background: url(img/background/reviews-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
}

.team .row::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.team .team-slider .box .content{
    background: #222;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 4rem;
    border-radius: 1rem;
    height: 30rem;
}

.team .team-slider .box .image img{
    width: 10rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    top: 22rem; left: 1rem;
    border: 0.3rem solid var(--sc-color); 
}

.team .team-slider .box .content h3{
    font-size: 3.5rem;
    color: var(--sc-color);
    margin: 1rem;
}

.team .team-slider .box .content p{
    columns: var(--min-color);
    font-size: 2.2rem;
}

.blog .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    gap: 2rem;
    margin: 6rem 0;
}

.blog .row img{
    width: 100%;
    object-fit: cover;
}

.blog .row h3{
    color: var(--th-color);
    font-size: 3rem;
    margin: 1.5rem 0;
}

.blog .row p{
    color: var(--th-color);
    font-size: 1.9rem;
    margin: .5rem 0;
}



















/* media query */

@media(max-width:850px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 1000rem;
        left: 0;
        text-align: center;
        background-color: rgba(10, 10, 9, 0.6);
        width: 100%;
    }

    header .navbar.active {
        top: 7.5rem;
    }

    header .navbar a {
        display: block;
        margin: 0.3rem 0;
        padding: 1rem;
        font-size: 2.6rem;
        color: var(--min-color);
    }

    header .navbar a:hover {
        background-color: var(--min-color);
    }

    .about .box {
        flex-wrap: wrap;
        text-align: center;
    }

    .about .box .image img {
        width: 90%;
    }

    .service .row {
        grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    }
}